@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../../fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

$Inter: 'Inter', 'Arial', sans-serif;
$black: rgba(0, 0, 0, 0.85);
$gray: #e5e5e5;

body {
  margin: 0;

  font-family: $Inter;
  font-size: 12px;
  line-height: 22px;
  color: $black;

  background-color: $gray;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

p,
button,
h1,
h2 {
  padding: 0;
  margin: 0;
}

.page-main {
  padding-top: 26px;
  padding-bottom: 18px;
}
